.countdown-container {
    text-align: center;
  }
  
  .countdown-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .countdown-cell {
    padding: 10px;
  }
  
  .countdown-value {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .countdown-label {
    font-size: 1rem;
    color: #333333;
  }
  
  .countdown-sublabel {
    font-size: 0.8rem;
    color: #666666;
  }
  
  .calendar {
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 5px;
  }
  
  thead th {
    font-weight: bold;
  }
  
  tbody td {
    cursor: pointer;
  }
  
  .highlight {
    background-color: #eeeeee;
  }
  